/* импорт Century: */
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --font-comic: var(--font-comic);
  --font-rubik: var(--font-rubik);
  --font-century: var(--font-century);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  /* --color-accent-foreground: var(--accent-foreground); */
  /* --color-accent: var(--accent); */
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-light: var(--light);
  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(0.94 0.018 95);
  --foreground: oklch(0.2 0 0);
  --light: oklch(0.5 0 0);
  --card: oklch(0.97 0.006 96);
  --card-foreground: oklch(0.27 0.023 262);
  --popover: oklch(0.97 0.006 96);
  --popover-foreground: oklch(0.27 0.023 262);
  --primary: oklch(0.69 0.167 66);
  --primary-foreground: oklch(0.2 0 0);
  --secondary: oklch(0.61 0.195 264);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.89 0.013 93);
  --muted-foreground: oklch(0.27 0.023 262);
  --destructive: oklch(0.64 0.21 25);
  --destructive-foreground: oklch(1 0 0);
  --success: oklch(0.72 0.19 150);
  --border: oklch(0.75 0 0);
  --input: oklch(0.97 0.006 96);
  --ring: oklch(0.71 0 0);
  --radius: 1rem;
  --sidebar: oklch(0.94 0.018 95);
  --sidebar-foreground: oklch(0.2 0 0);
  --sidebar-border: oklch(0.75 0 0);
  --font-comic: "Comic Sans MS", "Comic Sans", cursive;
  --font-century: "Century", serif;
}

.dark {
  --background: oklch(0.145 0.018 95);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.205 0.006 96);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.205 0.006 96);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.69 0.167 66);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.61 0.195 264);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.269 0.013 93);
  --muted-foreground: oklch(0.708 0 0);
  --destructive: oklch(0.63 0.215 29);
  --destructive-foreground: oklch(0.98 0 0);
  --success: oklch(0.68 0.18 150);
  --border: oklch(0.27 0 0);
  --input: oklch(0.27 0 0);
  --ring: oklch(0.71 0 0);
  --radius: 1rem;
  --sidebar: oklch(0.205 0.006 96);
  --sidebar-foreground: oklch(0.98 0 0);
  --sidebar-border: oklch(0.27 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50 text-base;
  }

  html {
    @apply font-sans;
  }

  .avatar {
    @apply w-10 h-10 rounded-full cursor-pointer;
  }

  .icon-size {
    @apply h-5 w-5;
  }
}